%main.container.general-main-wrap
  .text-center
    %h3.general-login-title Set new
  %form.general-form
    = form_for(resource, as: resource_name,
      url: password_path(resource_name),
      html: { method: :put, class: "form-group mb-30" }) do |f|
      = devise_error_messages!
      = f.hidden_field :reset_password_token
      .form-group.mb-30
        = f.label :password, "New password", class: "control-label input-label"
        = f.password_field :password, id: "password",
          class: "form-control", autofocus: true, autocomplete: "off"
      .form-group.mb-40
        = f.label :confirm_password, "Confirm new password", class: "control-label input-label"
        = f.password_field :password, id: "confirm_password",
          class: "form-control", autocomplete: "off"
        %span.help-block
      = f.submit 'Change my password', class: "btn btn-default center-block mb-20"
