
%main.container
  %h1.general-title-margin Catalog
  .hidden-xs.clearfix
    .pull-right
      .dropdown
        %a.dropdown-toggle.dropdown-btn.width-240{ href: "#",
          'data-toggle': "dropdown", role: "button",
          'aria-haspopup': "true", 'aria-expanded': "false" }
          Books order
          %i.fa.fa-angle-down.dropdown-icon
    %ul.list-inline.pt-10.mb-25.mr-240
      %li.mr-35
        = link_to books_path, class: "filter-link" do
          All
          %span.badge.general-badge= Book.count
      - Category.all.each do |category|
        %li.mr-35
          = link_to books_path(books_by_category: category.title),
            class: "filter-link" do
            = "#{category.title}"
            %span.badge.general-badge= category.books.count
  .mb-40.visible-xs
    %p.in-grey-600.small.mb-10 Filter by category
    .dropdown.mb-20
      %a.dropdown-toggle.dropdown-btn.width-100{ href: "#",
        'data-toggle': "dropdown", role: "button",
        'aria-haspopup': "true", 'aria-expanded': "false" }
        Books category
        %i.fa.fa-angle-down.dropdown-icon
      %ul.dropdown-menu
        %li
          = link_to 'all', books_path, class: "filter-link"
        - Category.all.each do |category|
          %li
    %p.in-grey-600.small.mb-10 Sort by
    .dropdown
      %a.dropdown-toggle.dropdown-btn.width-100{ href: "#",
        'data-toggle': "dropdown", role: "button",
        'aria-haspopup': "true", 'aria-expanded': "false" }
        Books order
        %i.fa.fa-angle-down.dropdown-icon
  .mb-120
    - @books.each_slice(4) do |four_books|
      .row
        - four_books.each do |book|
          .col-xs-6.col-sm-3
            .general-thumb-wrap
              .thumbnail.general-thumbnail
                - if book.cover.nil?
                  %i.fa.fa-book.fa-4x{ "aria-hidden": true }
                - else
                .thumb-hover
                  .general-thumb-link-wrap
                    = link_to book_path(book), class: "thumb-hover-link" do
                      %i.fa.fa-eye.thumb-icon{ 'aria-hidden': "true" }
                      %i.fa.fa-shopping-cart.thumb-icon
            .general-thumb-info
              %p.general-title= book.title
              %p.font-16.in-gold-500= book.price_to_euro
              %span.divider-sm
              %p.in-grey-600.small= book.author
    .text-center
      %button.btn.btn-disabled{ 'disabled': true } View more
