%main.container
  = link_to 'Back to results', :back,  class:'general-back-link fa fa-long-arrow-left mr-15'
  .row
    .col-sm-6
      .product-gallery
        .mb-20
          - if book.cover.file.nil?
            %i.fa.fa-book.fa-4x{ "aria-hidden": true }
          - else
            = image_tag book.cover_url(:thumb), class: 'img-responsive'
    .col-sm-6
      %h1.mt-res-0= book.title
      %p.lead.small= book.author_full_name
      .row
        .col-xs-12.col-md-4
          %p.h1.in-gold-500.mt-10= book.price_in_euro
        .col-xs-5.col-md-3
          .input-group.general-position
            %p#minus.input-link
              %i.fa.fa-minus.line-height-40
            %input.form-control.quantity-input{type: "text"}
            %p#plus.input-link
              %i.fa.fa-plus.line-height-40
        .col-xs-7.col-md-5
          %input{ type: 'hidden', value: book.id, id: 'book-id' }
          %button#add-to-cart.btn.btn-default.pull-right.general-position Add to Cart
      .general-info-wrap.divider-lg
        %p Description
        %p#book-description.lead.small.line-height-2= book.short_description
        %p#read-more.in-gold-500.ml-10{data: {description: book.description } } Read More
  = render partial: "books/form_review"
  .mb-80
    %h3.in-gold-500.mb-25 Reviews (3)
    .general-message-wrap.divider-lg
      .clearfix
        %img.img-circle.logo-size.inlide-block.pull-left{src: "https://www.smashingmagazine.com/wp-content/uploads/2015/09/smashing-book-5-2-large.jpg"}
        .ml-70
          %div
            .general-message-date.hidden-xs 11/11/16
            .max-240
              .general-message-verified Verified Reviewer
              .general-message-name Rita J. Lewis
          .mb-15
            %i.fa.fa-star.rate-star
            %i.fa.fa-star.rate-star
            %i.fa.fa-star.rate-star
            %i.fa.fa-star.rate-star
            %i.fa.fa-star.rate-star
          %p Thank you BookStore, I was very pleased to receive my order for the Moleskine diary so soon after placing the order.
    .general-message-wrap.divider-lg
      .clearfix
        %span.img-circle.logo-size.inlide-block.pull-left.logo-empty M
        .ml-70
          %div
            .general-message-date.hidden-xs 11/11/16
            .max-240
              .general-message-verified.pull-right Verified Reviewer
              .general-message-name May J. Novoa
          .mb-15
            %i.fa.fa-star.rate-star
            %i.fa.fa-star.rate-star
            %i.fa.fa-star.rate-star
            %i.fa.fa-star.rate-star
            %i.fa.fa-star.rate-star.rate-empty
          %p If ‘Get a better job’ had landed on my desk a year ago, I might have been dismissive of it. Instead I was prepared to be open-minded. There have been many occasions where I turned to career books with practical activities to look for some inspiration when developing education activities for learners or assessment.
