%header.navbar.navbar-default
  .container
    .navbar-header
      %button.navbar-toggle.pull-left{type: "button", 'data-toggle': "collapse", 'data-target': "#navbar"}
        %span.sr-only
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand Bookstore
      %a.shop-link.pull-right.visible-xs{href: "#"}
        %span.shop-icon
          %span.shop-quantity 3
    %a.shop-link.pull-right.hidden-xs{href: "#"}
      %span.shop-icon
        %span.shop-quantity 3
    #navbar.navbar-collapse.collapse.pl-30{'aria-expanded': "false"}
      .hidden-xs
        %ul.nav.navbar-nav
          %li
            %a{href: "#{root_path}"} Home
          %li.dropdown
            %a.dropdown-toggle{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"} Shop
            %ul.dropdown-menu
              - Category.all.each do |category|
                %li
                = link_to "#{category.title}", books_path(books_by_category: category.title), class: 'collapse-link'
          - if user_signed_in?
            %li
              = link_to ' Log out', destroy_user_session_path, method: :delete
          - else
            %li
              = link_to 'Sign up', new_user_registration_path
            %li
              = link_to 'Log in', new_user_session_path
